/*！
*首页 
*date:2016-10-25
*author: chenxuan;
*/

.main {
    overflow: hidden;
    padding: 50px 0 30px 0;
    background: url(../images/case-bg.jpg) center top no-repeat;
}

.filter-block {
    border: 1px solid #dedede;
    background-color: #fff;
}

.filter-block>div {
    min-height: 34px;
    padding: 8px 0;
    margin-left: 25px;
    margin-right: 15px;
    border-bottom: 1px dashed #dedede;
}

.filter-block>div>ul {
    width: 800px;
}

.filter-block .service {
    margin: 0;
    background-color: #f4f4f4;
    border-bottom: 0;
}

.filter-block .type,
.filter-block .direction {
    max-height: 64px;
    overflow: hidden;
}

.filter-block>div .name {
    float: left;
    margin: 8px 7px 0 5px;
    color: #0068b7;
    font-weight: bold;
}

.filter-block .service .name {
    margin-left: 30px;
}

.filter-block>div>ul {
    float: left;
}

.filter-block>div li {
    float: left;
    padding: 5px 16px;
    margin-top: 3px;
    cursor: pointer;
    white-space: nowrap;
}

.filter-block>div .selected {
    padding: 4px 15px;
    color: #d80000;
    background-color: #fff;
    border: 1px solid #d80000;
}

.filter-block .achievement {
    border-bottom: 0;
}

.filter-block>.color .all {
    width: auto;
    height: auto;
    padding: 5px 16px;
    margin-top: 4px;
    border-radius: 0;
    background-color: #fff;
}

.filter-block .button {
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    width: 63px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #dddddd;
    background-color: #f4f4f4;
    cursor: pointer;
}

.filter-block .button:hover {
    color: #d80000;
}

.color .all.selected {
    padding: 4px 15px;
    border: 1px solid #d80000;
}

.filter-block>.color li {
    width: 27px;
    height: 27px;
    padding: 0;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 3px;
}

.color li.FFFFFF,
.color li.ffffff {
    width: 25px;
    height: 25px;
    border: 1px solid #dedede;
}

.color li.selected {
    background-image: url(../images/select-color.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
}

.color li.FFFFFF.selected,
.color li.ffffff.selected {
    border: 1px solid #dedede;
    background: url(../images/select-color2.png) center no-repeat;
}

.achievement .blue {
    display: inline-block;
    margin: 12px 4px 0 5px;
    color: #0068b7;
    font-weight: bold;
}

.achievement>label {
    display: inline-block;
    padding: 4px 8px 4px 4px;
    margin: 0 10px 8px 0;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    white-space: nowrap;
}

.achievement input {
    width: 20px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}


/*跟随滚动层*/

.search-block {
    margin: 30px 0;
    height: 50px;
    line-height: 50px;
    background-color: #f4f4f4;
}

.search-block .down-num:hover,
.search-block .lastest:hover {
    line-height: 47px;
    border-top: 1px solid #0068b7;
    color: #0068b7;
    background-color: #fff;
    background-image: url(../images/all-sanjaio.png);
}

.search-block .lastest {
    float: left;
    width: 86px;
    text-indent: 16px;
    cursor: pointer;
    background: url(../images/nor-sanjiao.png) 54px center no-repeat;
}

.search-block .down-num {
    float: left;
    width: 130px;
    text-indent: 28px;
    cursor: pointer;
    background: url(../images/nor-sanjiao.png) 85px center no-repeat;
}

.down-num.selected,
.lastest.selected {
    line-height: 47px;
    border-top: 1px solid #0068b7;
    color: #0068b7;
    background-color: #fff;
    background-image: url(../images/top-sanjiao.png);
}

.down-num.selected.reverse,
.lastest.selected.reverse {
    background-image: url(../images/bottom-sanjiao.png);
}

.search-block .search-input {
    float: left;
    height: 30px;
    margin-top: 10px;
    line-height: 0;
    border-left: 1px solid #dedede;
}

.search-input>input {
    float: left;
    padding: 0 38px 0 12px;
    width: 187px;
    height: 28px;
    line-height: 28px;
    margin-left: 14px;
    border: 1px solid #dedede;
    background-color: #fff;
}

.search-input>button {
    float: left;
    margin-left: -40px;
    margin-top: 1px;
    width: 40px;
    height: 28px;
    border: 0;
    background: url(../images/search-btn.png) center no-repeat;
    cursor: pointer;
}

.smallPage {
    float: right;
    line-height: 21px;
    margin-top: 15px;
}

.smallPage>span {
    float: left;
    margin-right: 8px;
}

.smallPage .count {
    color: #666;
}

.smallPage .now {
    padding: 0 7px;
    border: 1px solid #dedede;
    background-color: #fff;
    line-height: 19px;
}

.smallPage .count>.blue {
    display: inline-block;
    padding: 0 5px;
    color: #0068b7;
}

.smallPage .prev-btn,
.smallPage .next-btn {
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: url(../images/black-left.png) center no-repeat #ddd;
}

.prev-btn.disabled,
.next-btn.disabled {
    cursor: default;
    filter: alpha(opacity=50);
    /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5;
    /*Firefox私有，透明度50%*/
    opacity: 0.5;
    /*其他，透明度50%*/
}

.smallPage .prev-btn.disabled:hover {
    background: url(../images/black-left.png) center no-repeat #ddd;
}

.smallPage .next-btn.disabled:hover {
    background: url(../images/black-right.png) center no-repeat #ddd;
}

.smallPage .next-btn {
    background-image: url(../images/black-right.png);
}

.smallPage .prev-btn:hover {
    background-image: url(../images/blue-left.png);
    background-color: #dbeffe;
}

.smallPage .next-btn:hover {
    background-image: url(../images/blue-right.png);
    background-color: #dbeffe;
}


/*result-list*/

.result-list>ul {
    margin-right: -25px;
}

.result-list>ul li {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
    width: 314px;
    border: 1px solid #e1e1e1
}

.result-list li>.img-div {
    width: 314px;
    height: 205px;
    border-bottom: 1px solid #e1e1e1;
}

.result-list .show-img {
    width: 314px;
    height: 205px;
}

.result-list li>.show-info {
    position: relative;
    padding: 6px 15px;
    line-height: 24px;
}

.show-info .look {
    position: absolute;
    bottom: 2px;
    right: 15px;
}

.show-info .look>a {
    display: inline-block;
    margin-left: 17px;
    height: 16px;
    cursor: pointer;
    background-image: url(../images/small-icon.png);
}

.show-info .look>.computer {
    width: 19px;
    background-position: -44px 0;
}

.show-info .look>.computer:hover {
    background-position: -63px 0;
}

.show-info .look>.file {
    width: 12px;
    background-position: -32px 0;
}

.show-info .look>.file:hover {
    background-position: -20px 0;
}

.show-info .look>.tel {
    width: 10px;
    margin-top: -5px;
    background-position: -10px 0;
}

.show-info .look>.tel:hover {
    background-position: 0 0;
}

.show-info .look>.tel:hover .code {
    display: block;
}

.show-info .name,
.show-info .num {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.show-info .num {
    width: 180px;
}

.look>.tel>.code {
    position: absolute;
    display: none;
    width: 120px;
    margin-top: -155px;
    margin-left: -64px;
    padding: 5px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    box-shadow: 0 0 3px #ddd;
    z-index: 50;
}

.tel>.code>.img-div {
    width: 120px;
    height: 120px;
}

.tel>.code img {
    width: 120px;
    height: 120px;
}

.case-bd .more-show {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f9f9f9;
    color: #666;
    cursor: pointer;
}

.case-bd .more-show:hover {
    color: #e60012;
}
