<div class="main">
    <div class="container">
        <div class="filter-block" id="filter">
            <!-- 业务 -->
            <div class="service clearfix">
                <span class="name">业务：</span>
                <ul class="clearfix">
                    <li data-type="" class="selected" li-button>全部</li>
                    <li data-type="{{x.CategoryNum}}" ng-repeat="x in itemList" li-button>{{x.CategoryName}}</li>
                </ul>
            </div>
            <!-- 类型 -->
            <div class="type clearfix">
                <span class="name">类型：</span>
                <ul class="clearfix">
                    <li data-type="" class="selected" li-button ng-click="fliterDirect('')">全部</li>
                    <li data-type="{{x.Value}}" ng-repeat="x in typeList" li-button ng-click="fliterDirect(x.Value)">{{x.Name}}</li>
                </ul>
            </div>
            <!-- 方向 -->
            <div class="direction clearfix">
                <span class="name">方向：</span>
                <ul class="clearfix">
                    <li data-type="" class="selected" li-button>全部</li>
                    <li data-type="{{x.Value}}" ng-repeat="x in directionList" li-button>{{x.Name}}</li>
                </ul>
            </div>
            <!-- 色调 -->
            <div class="color clearfix">
                <span class="name">色调：</span>
                <ul class="clearfix">
                    <li data-type="" class="all selected" li-button>全部</li>
                    <li class="{{x.color}}" data-type="{{x.Value}}" style="background-color:#{{x.color}}" ng-repeat="x in colorList" li-button></li>
                </ul>
            </div>
            <!-- 成果 -->
            <div class="achievement" id="checkbox">
                <span class="blue">成果：</span>
                <label ng-repeat="x in achievementList">
                    <input name="achieve" type="checkbox" value="{{x.Value}}" />{{x.Name}}</label>
            </div>
        </div>
        <!-- 跟随滚动层 -->
        <div class="search-block clearfix" id="search">
            <div class="lastest order" id="num">最新</div>
            <div class="down-num order" id="down">下载量</div>
            <div class="search-input clearfix">
                <input type="text">
                <button></button>
            </div>
            <div class="smallPage clearfix" id="smallpager">
            </div>
        </div>
        <!-- 查询展示列表 -->
        <div class="result-list">
            <ul id="result-ul" class="clearfix">
                <li ng-repeat="x in detailList">
                    <div class="img-div">
                        <a target="_blank" href=""><img src="{{x.ListImgUrl}}" alt="加载图片失败" class="show-img"></a>
                    </div>
                    <div class="show-info">
                        <p class="name" title="{{x.Title}}">{{x.Title}}</p>
                        <p class="num" title="项目编号{{x.ProjectNum}}">项目编号{{x.ProjectNum}}</p>
                        <div class="look">
                            <a ng-show="x.FormalWebUrl" target="_blank" href="{{x.FormalWebUrl}}" title="浏览上线网站" class="computer"></a>
                            <a ng-show="x.APPImgUrl" class="tel">
                                <div class="code">
                                    <div class="img-div">
                                        <img src="{{x.APPImgUrl}}" alt="图片加载中....">
                                    </div>
                                    <span>安装移动端产品</span>
                                </div>
                            </a>
                            <a ng-show="x.TestWebUrl" target="_blank" href="{{x.TestWebUrl}}" title="访问测试demo" class="file"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="pager clearfix" id="pager"></div>
        </div>
    </div>
</div>
